<h1 class = "article_header">
	What is Angel Eye?
</h1>
<p>
AngelEye got it’s start in 2017 as a revolutionary platform to transform public safety.  Founded by a team of 6 passionate interns, the goal was to proactively protect citizens from potentially harmful situations.  AngelEye automatically detects drunk/distracted drivers as well as people brandishing firearms and alerts authorities of the location of the potential danger.  The team hopes to eventually expand the platform to detect other public safety hazards.	
</p>